<div class="row">
  <div class="col-lg-12">
    <script>window.canvasID = <%= WallExWeb.UserSocket.canvas_id %></script>
    <div id="loader"></div>
    <canvas id="canvas" width="900" height="600"></canvas>
  </div>
</div>
