* {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  height: 100%;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 1rem;
}
@media screen and (min-width: 20rem) {
  html {
    font-size: calc( 1rem + 0.2 * (( 100vw - 20rem ) / 60) );
  }
}
@media screen and (min-width: 80rem) {
  html {
    font-size: 1.2rem;
  }
}

body {
  color: #212121;
  font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6rem;
}

/**
 * ELEMENTS
 */
p {
  line-height: 1.6rem;
  margin-bottom: 1.6rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  margin-bottom: 1.6rem;
}

h1 {
  font-size: 1.8rem;
  line-height: 1.8rem;
  margin-top: calc((1.6rem - 1.8rem) + 1.6rem);
}

h2 {
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin-top: calc((1.6rem - 1.6rem) + 1.6rem*2);
}

h3 {
  font-size: 1.4rem;
  line-height: 1.4rem;
  margin-top: calc((1.6rem - 1.4rem) + 1.6rem*2);
}

h4 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin-top: calc((1.6rem - 1.25rem) + 1.6rem*2);
}

h5 {
  font-size: 1rem;
  line-height: 1rem;
  margin-top: calc((1.6rem - 1rem) + 1.6rem*2);
}

h5 {
  font-size: 0.875rem;
  line-height: 0.875rem;
  margin-top: calc((1.6rem - 0.875rem) + 1.6rem*2);
}

#canvas {
  margin: 0 auto;
  display: none;
  background: #fff;
}

#canvas.is-visible {
  display: block;
}

#loader {
  border: 1px solid #ccc;
  margin: 0 auto;
  display: block;
  background: #ccc;
  width: 1024px;
  height: 600px;
  position: relative;
}

#loader::after {
  content: "Loading.. If not done soon, maybe reload? D:";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loader.is-invisible {
  display: none;
}

body {
  background: #f0f0f0;
  padding: 1rem 2rem;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px;
}

#color {
  padding: 8px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  cursor: pointer;
}

.info {
  font-size: 0.8rem;
  text-transform: uppercase;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
}
